@use 'fonts.scss';
@use 'variables.scss';

html {
  color: var(--body-text);
  background: var(--primary-bg) var(--bg-url);
  background-blend-mode: overlay;
  height: 100vh;
}

body {
  font-family: var(--body-font);
}

h1 {
  font-family: var(--title-font);
  font-size: 1.5rem;
  margin: 0;
}

// layout

#content {
  display: grid;
  justify-content: center;
}

article {
  background: var(--primary-bg);
  width: 80ch;
  padding: 2em;
}

.chapter {
  font-family: var(--serif-font);
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--body-text);
}

time {
  font-family: var(--small);
  font-size: 1rem;
}

.paging {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  margin: 2em 0;

  #chapterSelect {
    grid-column-start: 2;
  }
}

// menu

.dropdown {
  position: relative;

  .title {
    appearance: none;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    display: inline-flex;
    align-items: center;

    &::after {
      content: "▾";
      color: darken(variables.$primary-bg, 25%);
    }

    &:hover::after {
      color: lighten(variables.$body-text, 10%);
    }
  }

  .menu {
    position: absolute;
    list-style: none;
    background-color: var(--accent);
    padding: 0.5em 0;
    min-width: 7ch;
    left: 50%;
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    opacity: 0.3;
    visibility: hidden;
    transition: 280ms all 120ms ease-in-out;
  }

  &:hover, &:focus-within {
    .menu {
      opacity: 1;
      transform: rotateX(0) translateX(-50%);
      visibility: visible;
    }
  }
}

#menu {
  display: grid;
  place-items: center;
  background-color: var(--accent);
  margin: 5em 0;

  > ul {
    grid-auto-flow: column;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;

    > li {
      margin: 0 0.5rem;
      padding: 0;

      a, .title {
        font-family: var(--accent-font);
        font-size: 1.25rem;
        text-align: center;
        text-decoration: none;
        display: block;
        color: var(--primary-bg);

        &:hover {
          background-color: var(--accent-2);
          color: var(--body-text);
        }

        &:focus {
          outline: 3px solid var(--body-text);
        }
      }

      > a, .title {
        padding: 0.5rem 1rem;
      }
    }
  }
}

// forms

input, select, textarea {
  font-family: var(--accent-font);
  font-size: 1.25rem;
  color: darken(variables.$accent, 20%);
  background-color: var(--accent-2);
  border: 1px solid darken(variables.$accent-2, 20%);
  padding: 0.25em 0.5em;
}

label {
  font-weight: bold;
  display: block;
}

button {
  cursor: pointer;
  font-family: var(--accent-font);
  font-size: 1.25rem;
  background-color: var(--accent);
  border: 1px solid darken(variables.$accent, 20%);
  padding: 0.25em 0.5em;

  &:focus {
    outline: 2px solid var(--body-text);
  }
}